@inject IScriptDataService DataService
@if (Item != null)
{
    <div class="row gx-1 justify-content-center">
        <div class="col-3">
            <button type="button"
                    class="btn mx-auto d-block btn-outline-@(disabled ? "secondary" : "primary") btn-sm"
                    @onclick="@(() => OnEdit.InvokeAsync(Item.ScriptId))"
                    title="View, Run or Edit this script"
                    disabled=@disabled>
                <span class="oi oi-eye" />
            </button>
        </div>
        <div class="col-3">
            <button type="button"
                    class="btn mx-auto d-block btn-outline-@(disabled ? "secondary" : Item.Enabled ? "warning" : "info") btn-sm"
                    @onclick="@(() => OnStatusChange.InvokeAsync(Item))"
                    title="@(Item.Enabled ? "Disable this script" : "Enable this script")"
                    disabled=@disabled>
                <span class="oi oi-lock-@(Item.Enabled ? "locked" : "unlocked")" />
            </button>
        </div>
        <div class="col-3">
            <button type="button"
                    class="btn mx-auto d-block btn-outline-danger btn-sm"
                    @onclick="onDeleteRequest"
                    title="Delete this script"
                    disabled=@disabled>
                @if (onDeleting)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-trash" />
                }
            </button>
        </div>
    </div>

    @if (sowDeleteConfirm)
    {
        <ModalConfirm TitleIcon="oi oi-trash" Title="Are you sure?" Message=@confirmMessage ConfirmLable="Confirm" ButtonColor="danger" OnExit=@confirmRequestClosed />
    }
}
