.lits-titles {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #ffc107 !important;
}

.lines-container {
    max-height: calc(100vh - 16.25rem);
    overflow-x: hidden;
    overflow-y: auto;
}

.list-row {
    background-color: #1f1f1f;
    border-bottom: 1px solid #c2c4c5;
}

.list-row:hover {
    background-color: #1f271f;
}

.list-row.disabled {
    border-bottom: 1px solid #c2c4c5;
    background-color: #2d2d2d;
}

.list-row.disabled:hover {
    background-color: #271f1f;
}

.list-row.deleting {
    text-decoration: line-through;
    color: gray;
}

.list-row.deleting:hover {
    background-color: lightgray;
}

@media (max-width: 1200px) {
    .lits-titles {
        border-bottom: 1px solid #dee2e6;
    }

    .item-title {
        margin-left: 5px;
        font-weight: 700;
    }

    .item-subtitle {
        font-size: 15px;
        font-weight: 600;
    }

    .item-date {
        font-size: 15px;
    }

    .lines-container {
        max-height: calc(100vh - 12.25rem);
    }
}