@page "/"


@inject IScriptDataService DataService

<PageTitle>Index</PageTitle>
@if (errorMessage != null)
{
    <div class="alert alert-@errorClass" role="alert">
        @errorMessage
    </div>
}
else if (items != null)
{
    <ScriptsTable Items="items" />
}

@code {
    private List<ScriptView>? items = null;
    private string? errorClass = null;
    private string? errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        var data = await DataService.GetScripts();
        if (data == null || data.Result == null || (data.ErrorLevel != WarningLevel.NO_WARNING && data.Errors == null))
        {
            errorClass = "danger";
            errorMessage = "Unhandled exception";
        }
        else if (data.ErrorLevel !=WarningLevel.NO_WARNING)
        {
            errorClass = data.ErrorLevel == WarningLevel.WARNING ? "warning" : "danger";
            errorMessage = "Unhandled exception";
        }
        else
            items = (List<ScriptView>?)data.Result;
        await base.OnInitializedAsync();
    }
}
