@inject IJSRuntime JSRuntime

@page "/"
<div class="row full-height">
	<div class="col-6">
		<StandaloneCodeEditor 
			ConstructionOptions="EditorConstructionOptions"
			OnDidInit="EditorOnDidInit" />
	</div>
	<div class="col-6" style="background-color: pink;">
		<div class="row">
			<div class="col-12" style="background-color: orange;">
				Command area
			</div>
		</div>
		<div class="row">
			<div class="col-12" style="background-color: red;">
				Output area
			</div>
		</div>
	</div>
	@* <div class="col-6">
		<div class="row">
			<div class="col-6">
				Command area
			</div>
			<div class="col-6">
				Output area
			</div>
		</div>
	</div> *@
</div>

@code {
	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions
			{
				AutomaticLayout = true,
				Language = "csharp",
				Value = "public void SayHello()\n{\n   Console.WriteLine(\"Hello world!\");\n}"
			};
	}
    private async Task EditorOnDidInit()
    {
			await BlazorMonaco.Editor.Global.SetTheme(JSRuntime, "vs-dark");
    }
}